/* colors */
$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-cyan: hsl(192, 70%, 51%);
$grayish-blue: hsl(233, 8%, 62%);
$grayish-blue-light: hsl(220, 16%, 96%);
$gray-light: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$margin-bottom: 20px;

@mixin request-button {
  padding: 12px 28px;
  border-radius: 28px;
  color: $white;
  background: linear-gradient(to right, $lime-green, $bright-cyan);
  border: none;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  margin-bottom: $margin-bottom;
  font-weight: 300;
  color: $grayish-blue;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.container {
  width: 1366px;
  margin: auto;
}

section {
  padding: 50px 0;
}

header {
  font-weight: 300;
  font-size: 2.5rem;
  color: $dark-blue;
  margin-bottom: $margin-bottom;
}

h4 {
  margin: 0;
  margin-bottom: $margin-bottom;
  color: $dark-blue;
}

/* all sections */

.navbar {
  position: relative;
  z-index: 10;
  background: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  font-size: 2.5rem;
  padding: 8px 0;
  color: $grayish-blue;

  nav {
    width: 30%;
    ul {
      display: flex;
      justify-content: space-between;
      li {
        font-size: 0.8rem;
      }
    }
  }

  .mobile-menu-button {
    display: none;
  }

  button {
    @include request-button;
  }
}

/* mobile-menu */
.mobile-menu {
  display: none;
}

/* banner */
.banner {
  background: $gray-light;
  position: relative;
  padding: 180px 0;

  .container {
    display: flex;
  }

  .content {
    width: 30%;
  }

  button {
    @include request-button;
  }

  img {
    position: absolute;
    top: -30%;
    right: -10%;
    object-fit: contain;
  }
}

/* features */
.features {
  background: $grayish-blue-light;
  ul {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;

    li {
      width: 24%;
      img {
        margin-bottom: 32px;
      }
      h4 {
        font-weight: 500;
      }

      p {
        font-weight: 300;
      }
    }
  }
}

/* articles */
.articles {
  background: $gray-light;
  ul {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;

    li {
      width: 23%;
      img {
        margin-bottom: 32px;
        width: 100%;
        height: 200px;
        object-fit: cover;
      }

      h4 {
        font-weight: 500;
      }

      p {
        font-weight: 300;
      }

      .author {
        font-size: 0.8rem;
      }

      .content {
        padding: 16px;
      }
    }
  }
}

footer {
  background: $dark-blue;

  .container {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;

    .content-left {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      ul {
        display: flex;
        justify-content: space-between;

        li {
          &:nth-child(1) {
            button {
              background-image: url("./images/icon-facebook.svg");
            }
          }
          &:nth-child(2) {
            button {
              background-image: url("./images/icon-youtube.svg");
            }
          }
          &:nth-child(3) {
            button {
              background-image: url("./images/icon-twitter.svg");
            }
          }
          &:nth-child(4) {
            button {
              background-image: url("./images/icon-pinterest.svg");
            }
          }
          &:nth-child(5) {
            button {
              background-image: url("./images/icon-instagram.svg");
            }
          }
        }
      }

      .social-icons {
        width: 25px;
        height: 25px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: $dark-blue;
        border: none;
      }
    }

    //content-middle
    nav {
      display: flex;
      font-size: 0.8rem;
      div {
        flex-direction: column;

        &:first-child {
          margin-right: 100px;
        }

        p {
          margin-bottom: 8px;
        }
      }
    }

    .content-right {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      button {
        @include request-button;
        width: fit-content;
        margin-left: auto;
      }
      p {
        margin: 0;
      }
    }
  }
}

@media (max-width: 1366px) {
  body {
    font-size: 12px;
  }

  .container {
    width: auto;
    padding: 0 20px;
  }
}

@media (max-width: 1024px) {

  .navbar {
    
    nav,
    button {
      display: none;
    }

    .mobile-menu-button {
      display: inline;
    }
    
  }

  .mobile-menu {
    display: none;
    position: relative;
    width: 100%;
    z-index: 10;
    background: $grayish-blue-light;
    color: $grayish-blue;
    font-size: 1rem;

     nav {
      width: 100%;
      display: flex;
      justify-content: center;

      ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        li {
          margin: 16px 0;
        }
      }
     }
  }

  .banner {
    display: flex;
    flex-direction: column-reverse;
    padding: 50px 0;

    img {
      position: relative;
      top: 0;
      right: 0;
      height: 600px;
    }

    
    .container{
      justify-content: center;  

      .content {
        width: 40%;
        text-align: center;
      }
    }
  }

  .features {
    text-align: center;

    ul {
      flex-wrap: wrap;

      li {
        width: 48%;
      }
    }
  }

  .articles {
    text-align: center;

    ul {
      flex-wrap: wrap;

      li {
        width: 48%;
      }
    }
  }

  footer { 

    .container {
      flex-direction: column;
      height: inherit;
      text-align: center;

      .content-left, nav, .content-right {
        margin-bottom: $margin-bottom;
      }

      .content-left {
        img {
          margin-bottom: $margin-bottom/2;
        }
      }

      .content-right {
        button {
          margin-right: auto;
          margin-bottom: $margin-bottom/2;
        }
      }
    }
  }

}
